# **Materi : Mengolah data Iris yang tidak lengkap.**

---
Beberapa fungsi dijelaskan di masing masing cell.

# **1. Import Pandas DataFrame**

In [ ]:
import pandas as pd

# **2. Load Dataset dan Cek Data**

In [ ]:
#Load dataset Iris Unclean
df = pd.read_csv('iris_unclean.csv')

In [ ]:
# Tampilkan dataset
df

NameError: ignored

In [ ]:
# Hitung jumlah nilai null pada dataset
df.isna().sum()

SepalLengthCm    2
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

# **3. Handle Missing Value dengan Imputasi Mean**

Imputasi adalah pilihan penanganan missing data yang paling bijak dari pada membuang sebagian observasi atau variabel yang mengandung missing value, mengingat bahwa data sangat mahal dan berharga.


Sebelumnya terlihat bahwa ada 2 data yang hilang pada SepalLengthCm.

In [ ]:
# Cari nilai mean dari SepalLengthCm
df['SepalLengthCm'].mean()

5.856756756756757

In [ ]:
# Mengganti missing value dengan mean(), kemudian masukkan ke variabel
dfDataBaru = df['SepalLengthCm'].fillna(df['SepalLengthCm'].mean())

In [ ]:
#Cek Data
dfDataBaru

0      5.856757
1      4.900000
2      4.700000
3      4.600000
4      5.000000
         ...
145    6.700000
146    6.300000
147    6.500000
148    6.200000
149    5.900000
Name: SepalLengthCm, Length: 150, dtype: float64

In [ ]:
#Gabung data baru menjadi DataFrame
df2 = pd.DataFrame({'SepalLengthCm': dfDataBaru, 'SepalWidthCm': df['SepalWidthCm'],
                    'PetalLengthCm': df['PetalLengthCm'], 'PetalWidthCm': df['PetalWidthCm'],
                    'Species':df['Species']})
df2

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0         5.856757           3.5            1.4           0.2     Iris-setosa
1         4.900000        2000.0            1.4           0.2     Iris-setosa
2         4.700000           3.2           -1.3           0.2     Iris-setosa
3         4.600000           3.1            1.5           0.2     Iris-setosa
4         5.000000           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145       6.700000           3.0            5.2           2.3  Iris-virginica
146       6.300000           2.5            5.0           1.9  Iris-virginica
147       6.500000           3.0            5.2           2.0  Iris-virginica
148       6.200000           3.4            5.4           2.3  Iris-virginica
149       5.900000           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
# Cek jumlah baris dan kolom
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
# Hitung jumlah nilai null pada DataFrame baru
df2.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

Nilai null sudah terisi semua